<% if current_player %>
<div id="not-joined">
  <%= link_to "Join", join_path, remote: true, class: 'join-link' %>
</div>
<div id="joined">
  <a href="#" class="leave-link">Leave</a>
  <span id="start" display="none">
    <%= link_to "Start", start_path, remote: true, class: 'start-link' %>
  </span>
  <div id="players">
  </div>

  <div id="playerHand">
  </div>

  <div id="commoncards">
    <div class="flop"></div>
    <div class="turn"></div>
    <div class="river"></div>
  </div>

</div>

<% end %>