<% if current_player %>
<div id="not-joined">
  <%= link_to "Join", join_path, remote: true, class: 'join-link' %>
</div>
<div id="joined">
  <a href="#" class="leave-link">Leave</a>
  <div id="players">
  </div>
</div>
<% end %>