.header {
  background-color: white;
  opacity: 0.5;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar {
  margin-bottom: 0;
}

.notice {
  z-index: 2000;
  position: absolute;
  right: 0;
  left: 0;
  padding-top: 0.5%;
}

.footer_background {
  background-color: darkslategrey;
  height: 50px;
  text-align: center;
}

.footer_title {
  color: white;
  position: relative;
  top: 10px;
}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 30px !important;
    opacity: 0.8;
    background-color: thistle;
}

.modal-dialog {
  padding-top: 12%;
}
