<div class="home ">
  <div class="background">
    <div class="home-container">
      <div class="section text-center">
        <h1> "Poker is war. People pretend it is a game" </h1>
        <p> - Doyle Brunson, poker legend -</p>
      </div>
    </div>
  </div>

  <h1 class="feature-title text-center">
    <br>
    Features
    <hr class="short-underline">
  </h1>

  <section class="features-container">

  <div class="features text-center">

    <div class="feature">
      <%= fa_icon "hand-peace-o 4x", class: 'icon-settings' %>
      <h2>We simplify poker</h2>
    </div>
    <div class="feature">
      <%= fa_icon "credit-card 4x", class: 'icon-settings' %>
      <h2>Easy payment</h2>
    </div>
    <div class="feature">
      <%= fa_icon "meh-o 4x", class: 'icon-settings' %>
      <h2>No poker face needed</h2>
    </div>
    <div class="feature">
      <%= fa_icon "rocket 4x", class: 'icon-settings' %>
      <h2>Enjoyment is guaranteed</h2>
    </div>

  </div>
  </section>

  <div class="background2">
    <div class="home2-container">
      <div class="section text-center">
        <h1> "May the flop be with you" </h1>
      </div>
    </div>
  </div>

</div>
