<div class="home ">
  <div class="background">
    <div class="home-container">
      <div class="section text-center">
        <h1> Be a Star </h1>
        <p> "Live your dreams"</p>
      </div>
    </div>
  </div>
</div>
