.poker_cards {

  .2c {
    background-image: asset-url("2c.png");
  }

  .2d {
    background-image: asset-url("2d.png");
  }

  .2h {
    background-image: asset-url("2h.png");
  }

  .2s {
    background-image: asset-url("2h.png");
  }
}
